!**/[Bb]in/*.refresh
!**/[Pp]ackages/build/
!*.code-workspace
!.axoCover/settings.json
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!?*.[Cc]ache/
!Directory.Build.rsp
!**/[Pp]ackages/repositories.config
!tools/packages.config
tools/**
$RECYCLE.BIN/
$tf/
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/.cr/personal
**/.fake/
**/.ionide/
**/.localhistory/
**/.mfractor/
**/.paket/paket.exe
**/[Bb]in/*
**/[Pp]ackages/*
**/__pycache__/
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*.a
*.aab
*.apk
*.app
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bak
*.bim.layout
*.bim_*.settings
*.binlog
*.blend1
*.blend1.meta
*.booproj
*.btm.cs
*.btp.cs
*.build.csdef
*.cab
*.cachefile
*.cmd
*.coverage
*.coveragexml
*.csproj
*.d
*.dbmdl
*.dbproj.schemaview
*.dll
*.dotCover
*.DotSettings.user
*.dsp
*.dsw
*.dSYM/
*.dwo
*.dylib
*.e2e
*.elf
*.env
*.exe
*.exp
*.gch
*.GhostDoc.xml
*.gpState
*.hex
*.i*86
*.idb
*.ilk
*.iobj
*.ipdb
*.jfm
*.jmconfig
*.ko
*.la
*.lai
*.ldf
*.lib
*.lnk
*.lo
*.log
*.map
*.mdb
*.mdb.meta
*.mdf
*.meta
*.mm.*
*.mod
*.mod*
*.msi
*.msix
*.msm
*.msp
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.o
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.out
*.pch
*.pdb
*.pdb.meta
*.pfx
*.pgc
*.pgd
*.pidb
*.pidb.meta
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.rdl.data
*.received.*
*.resources
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.sln
*.sln.docstates
*.slnx
*.slo
*.smod
*.snk
*.snupkg
*.so
*.so.*
*.stackdump
*.su
*.suo
*.svclog
*.svd
*.swp
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.tmp_proj
*.trx
*.tss
*.unitypackage
*.unitypackage.meta
*.unityproj
*.user
*.userosscache
*.userprefs
*.usertasks
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsix
*.vsp
*.vspscc
*.vspx
*.vssscc
*.x86_64
*.xsd.cs
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*~
.*crunch*.local.xml
.artifacts/
.aws-sam
.axoCover/*
.builds
.cache/
.consulo/
.gradle/
.history/
.NCrunch_*
.ntvs_analysis.dat
.sass-cache/
.tmp_versions/
.utmp/
.vs/
.vscode/*
.vshistory/
/ServerData
/[Aa]ssets/AddressableAssetsData/*/*.bin*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/Plugins/Editor/JetBrains*
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*
/[Aa]ssets/[Ss]ceneDependencyCache*
/[Bb]uild/
/[Bb]uilds/
/[Ll]ibrary/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Oo]bj/
/[Rr]ecordings/
/[Tt]emp/
/[Uu]ser[Ss]ettings/
AppPackages/
artifacts/
ASALocalRun/
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
bin/x64/
bin/x86/
bld/
bower_components/
build-*/
build/
Build/
BundleArtifacts/
ClientBin/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
coverage*.info
coverage*.json
coverage*.xml
crashlytics-build.properties
csx/
dkms.conf
dlldata.c
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
ecf/
ehthumbs.db
ehthumbs_vista.db
ExportedObj/
FakesAssemblies/
FodyWeavers.xsd
Generated\ Files/
Generated_Code/
healthchecksdb
InitTestScene*.unity*
install_manifest.txt
ipch/
Makefile
MigrationBackup/
Mkfile.old
Module.symvers
modules.order
mono_crash.*
MSBuild_Logs/
nCrunchTemp_*
node_modules/
nunit-*.xml
obj/x64/
obj/x86/
OpenCover/
orleans.codegen.cs
Package.StoreAssociation.xml
paket-files/
project.fragment.lock.json
project.lock.json
publish/
PublishScripts/
rcf/
ScaffoldingReadMe.txt
ServiceFabricBackup/
StyleCopReport.xml
sysinfo.txt
test-results/
Testing/
TestResult.xml
Thumbs.db
Thumbs.db:encryptable
UpgradeLog*.htm
UpgradeLog*.XML
vcpkg_installed/
wwwroot/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Aa][Rr][Mm]64[Ee][Cc]/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebug/x64/
[Dd]ebug/x86/
[Dd]ebugPS/
[Dd]ebugPublic/
[Dd]ebugPublic/x64/
[Dd]ebugPublic/x86/
[Dd]esktop.ini
[Ee]xpress/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Oo]ut/
[Rr]elease/
[Rr]elease/x64/
[Rr]elease/x86/
[Rr]eleasePS/
[Rr]eleases/
[Rr]eleases/x64/
[Rr]eleases/x86/
[Tt]est[Rr]esult*/
[Ww][Ii][Nn]32/
_Chutzpah*
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
~$*